.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.woff");
  font-weight: 700;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "Panton", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.m-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 14px 0;
  background-color: #e2e7ed;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding-left: 80px;
  }

  &__row {
    display: inline-block;
    flex: 1 0 auto;
    margin: 0 0 0 20px;
    color: #484b4e;
    font-size: 14px;
    font-weight: 400;

    sup {
      font-size: 8px;
    }

    i {
      display: inline-block;
      margin-right: 4px;
      color: #26559f;
    }

    a {
      color: #484b4e;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #26559f;
        text-decoration: none;
      }
    }
  }

  &__phone {
    display: inline-block;
    margin: 0 20px;
    color: #484b4e;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #26559f;
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    color: #26559f;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #26559f;
      text-decoration: none;
    }
  }
}

.m-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 0;
  border-bottom: 10px solid #cda963;
  background: #ffffff;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    display: none;
    max-width: 100%;
    padding: 6px 0 6px 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
    margin-top: -20px;
    margin-right: 15px;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }

  &__hr {
    display: inline-block;
    width: 1px;
    height: 70px;
    margin: 0;
    background-color: #cbd2db;
  }

  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 6px 0 6px 30px;
        color: #26559f;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #cda963;
          text-decoration: none;
        }
      }
    }
  }
}

.m-home-top {
  display: block;
  position: relative;
  width: 100%;
  min-height: 820px;
  padding-bottom: 280px;
  background: url('../images/home_top.jpg') no-repeat center top;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 510px;
    min-height: 515px;
    padding: 20px;
    overflow-y: auto;
  }

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    line-height: 1.4;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__button {
    display: inline-block;
    padding: 15px 92px;
    border-radius: 999rem;
    background-color: #cda963;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ffffff;
      color: #cda963;
      text-decoration: none;
    }
  }
}

.m-home-double {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -300px;
  background: url('../images/home_svg_1.svg') no-repeat center center;
  background-size: 100% 100%;
  z-index: 1;
}

.m-home-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 130px 0 30px 0;

  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0 0 30px 0;

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 312px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 4px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    &-hr {
      display: inline-block;
      width: 70px;
      height: 3px;
      background-color: #cda963;
    }
  }
}

.m-double-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 90px 0;

  &__title {
    display: block;
    margin: 0 0 12px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 22px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;
  }

  &__button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #cda963;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ffffff;
      color: #cda963;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0 0 10px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 14px 30px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #ffffff;
    color: #484b4e;
    font-size: 18px;
    font-weight: 400;
  }
}

.m-home-seo {
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-height: 500px;
    padding: 40px calc((100vw - 1200px) / 2) 40px 15px;
    overflow-y: auto;
  }

  &__image {
    display: block;
    width: 1111px;
    height: 812px;
    margin-top: -150px;
    margin-right: 35px;
    mask-image: url('../images/home_svg_2.svg');
    background-position: center center;
    background-size: cover;
  }

  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #26559f;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    display: block;
    margin: 0 0 30px 0;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  a {
    color: #26559f;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #cda963;
      text-decoration: none;
    }
  }
}

.m-home-features {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -310px;
  padding: 330px 0 320px 0;
  background: url('../images/home_svg_3.svg') no-repeat center;
  background-size: 100% 100%;

  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #26559f;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 0 0 30px 0;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 265px;
    margin: 0 0 30px 0;

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 75px;
      height: 75px;
      margin-bottom: 25px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #26559f;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &-text {
      display: block;
      margin: 0;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;
    padding: 55px 0 0 0;

    &-button {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: 0 15px 10px 15px;
      padding: 15px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #cda963;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #ffffff;
        color: #cda963;
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #343434;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    input {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: 0 15px 10px 15px;
      padding: 14px 30px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #484b4e;
      font-size: 18px;
      font-weight: 400;
    }

    &-title {
      display: block;
      margin: 0 0 14px 0;
      color: #26559f;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    &-text {
      display: block;
      margin: 0 0 32px 0;
      color: #484b4e;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
      position: relative;
      width: 100%;
      padding-bottom: 15px;
    }
  }
}

.m-home-reviews {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -230px;
  padding: 175px 0 590px 0;
  background: url('../images/home_svg_4.svg') no-repeat center;
  background-size: 100% 100%;

  &__title {
    display: block;
    margin: 0 0 46px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 26px;
      height: 49px;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_slick_next.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_slick_prev.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;

    &-image {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 265px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.9);
        text-decoration: none;
      }
    }

    &-content {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      padding-left: 30px;
    }

    &-title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #26559f;
      font-size: 20px;
      font-weight: 400;
    }

    &-text {
      display: block;
      height: 144px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-author {
      display: block;
      margin: 0;
      color: #484b4e;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.m-home-clients {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -500px;
  padding: 155px 0 180px 0;
  background: url('../images/home_svg_5.svg') no-repeat center center;
  background-size: 100% 100%;

  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #26559f;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 240px;
    height: 200px;
    background: #ffffff;
    padding: 5px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 650px;
}

.m-contacts {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -125px;
  z-index: 1;

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  &__marker {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -96px;
    margin-left: -43px;
    z-index: 0;
  }

  &__content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    overflow-y: auto;
    background-color: rgba(67, 69, 72, 0.75);
    z-index: 2;

    &-title {
      display: block;
      margin: 0 0 35px 0;
      color: #ffffff;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-info {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;

      a {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #cda963;
          text-decoration: none;
        }
      }
    }

    &-phone {
      display: block;
      margin: 20px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cda963;
        text-decoration: none;
      }
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 45px 65px;
    box-shadow: 0 19px 37px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;

    &-title {
      display: block;
      margin: 0 0 15px 0;
      color: #26559f;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      margin: 0 0 44px 0;
      color: #484b4e;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
    }

    &-button {
      display: block;
      width: 100%;
      margin: 40px 0 45px 0;
      padding: 15px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #cda963;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #ffffff;
        color: #cda963;
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      max-width: 215px;
      margin: 0;
      opacity: 0.5;
      color: #989ea4;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    input {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 14px 30px;
      border: 1px solid #26559f;
      outline: none;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #484b4e;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

.m-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  background: #ffffff;
  z-index: 5;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
    margin-top: -20px;
    margin-right: 15px;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }

  &__hr {
    display: inline-block;
    width: 1px;
    height: 70px;
    margin: 0;
    background-color: #cbd2db;
  }

  &__link {
    display: inline;
    margin-left: 60px;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #26559f;
      text-decoration: none;
    }
  }

  &__creators {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    margin-left: 60px;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;

    img {
      display: inline-block;
      margin: 2px 4px;
    }

    a {
      color: #484b4e;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #26559f;
        text-decoration: none;
      }
    }
  }
}

.m-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 460px;
    margin: 10px 0;
    padding: 82px 40px 44px 40px;
    border-radius: 5px;
    background: #26559f url('../images/modal_bg.svg') no-repeat center;
    background-size: cover;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 26px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 66px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    line-height: 1.5;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 270px;

    input {
      display: block;
      width: 100%;
      margin: 0 auto 20px auto;
      padding: 17px;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background: #ffffff;
      color: #191722;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #cda963;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #cda963;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .m-info {
    padding: 8px 0;
  }

  .m-info>.container {
    padding-left: 15px;
  }

  .m-info>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .m-info__row {
    display: block;
    width: 100%;
    margin: 0 0 6px 0;
  }

  .m-info__phone {
    margin: 0 0 6px 0;
  }

  .m-header__hr {
    display: none;
  }

  .m-header__logo {
    max-width: 240px;
    margin: 0 20px 0 0;
  }

  .m-header__nav {
    padding: 6px 0;
  }

  .m-header__nav li {
    display: block;
    width: 100%;

    a {
      display: block;
      width: 100%;
      padding: 6px;
      text-align: center;
    }
  }

  .m-home-top {
    min-height: auto;
    padding: 20px 0;
    background: #3e7cdd;
  }

  .m-home-top__content {
    min-height: auto;
    padding: 20px 0;
  }

  .m-home-top__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .m-home-double {
    margin: 0;
    padding: 20px 0;
    background: #2e61b2;
  }

  .m-home-services {
    margin: 0;
    padding: 30px 0;
  }

  .m-home-services__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .m-home-services__cards {
    justify-content: space-around;
  }

  .m-home-services__card {
    transform: scale(0.9);
  }

  .m-home-services__card {
    margin-bottom: 10px;
  }

  .m-double-form {
    padding: 20px 0;
  }

  .m-home-seo__image {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
    mask-image: none;
  }

  .m-home-seo__content {
    max-height: 100%;
    overflow: visible;
    padding: 30px 15px;
  }

  .m-home-features {
    margin: 0;
    padding: 30px 0;
    background: #f1f4f7;
  }

  .m-home-features__cards {
    justify-content: space-around;
    padding: 0;
  }

  .m-home-features__card {
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }

  .m-home-reviews {
    margin: 0;
    padding: 30px 0;
    background: #3671ce;
  }

  .m-home-clients {
    margin: 0;
    padding: 30px 0;
    background: #ffffff;
  }

  .m-home-reviews__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .m-home-reviews__card-content {
    padding: 10px 0 0 0;
  }

  .m-home-reviews__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .m-home-reviews__cards .slick-next,
  .m-home-reviews__cards .slick-prev {
    top: -40px;
  }

  .m-home-reviews__cards .slick-next {
    margin-right: 15px;
  }

  .m-home-reviews__cards .slick-prev {
    margin-left: 15px;
  }

  .m-home-clients__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .m-home-clients__card {
    max-width: 165px;
    height: 140px;
  }

  .m-contacts {
    margin: 0;
  }

  .m-contacts__content {
    position: relative;
    height: auto;
    padding: 30px 15px;
  }

  .m-contacts__content-title {
    margin-bottom: 20px;
  }

  .m-contacts__form {
    margin-top: 20px;
    padding: 30px 20px;
  }

  #map {
    height: 300px;
  }

  .m-footer__hr {
    display: none;
  }

  .m-footer>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .m-footer__link {
    margin: 10px 0;
  }

  .m-footer__creators {
    margin: 0;
  }

  .m-footer__logo {
    margin: 0;
  }

  .m-header__nav {
    display: none;
    width: 100%;
  }

  .m-info {
    display: none;
  }

  .m-header__mob {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .m-header__toggle {
    display: inline-block;
  }

  .m-contacts__marker {
    display: none;
  }
}
